.box0{
			position:relative;
			width:100px;
			height:100px;
			background-color: red;
			float:left;
		}

.box1{

			width:100px;
			height:100px;
			background-color: white;
			float:left;
		}


#container{

	width:1000px;
	height:00px;
	
}




