div{
	  font-family: 'Arvo', serif;

	width:3900px;
	height:800px;
	background-color:#F2FAF0;
	z-index: -10;

}

h1{
	color:black;
	z-index: 5;
	font-family: 'Arvo', serif;
	font-size: 70px;
	text-align: center;
	position: fixed;
	top:650px;
	left:500px;

}

h2{

	color:black;
	z-index: 0;
	font-size: 20px;
	position: absolute;
	top:30px;
	left:60px;

}

h3{

	color:black;
	z-index: 0;
	font-size: 14px;
	position: absolute;
	top:30px;
	left:830px;


}

h4{
	width:580px;
	height:200px;
	color:black;
	z-index: 0;
	font-size: 11px;
	position: absolute;
	top:30px;
	left:1570px;

}

h5{
	width:600px;
	height:200px;
	color:black;
	z-index: 1;
	font-size: 11px;
	position: absolute;
	top:30px;
	left:2320px;

}

h6{
	width:600px;
	height:200px;
	color:black;
	z-index: 1;
	font-size: 11px;
	position: absolute;
	top:30px;
	left:3070px;

}




.bns{

position:absolute;
top:20px;
left:50px;
z-index: 1;


              -webkit-transform: translate(0, 0);
              -webkit-transition: -webkit-transform 2000ms;

              transform: translate(0, 0);
              transition: transform 200ms;

              will-change: transform;

}

.bns.move {
                -webkit-transform: translate(0px, 150px);
              transform: translate(0px, 150px);
            }

.bns2{

position:absolute;
top:20px;
left:800px;
z-index: 1;


              -webkit-transform: translate(0, 0);
              -webkit-transition: -webkit-transform 2000ms;

              transform: translate(0, 0);
              transition: transform 200ms;

              will-change: transform;

}

.bns2.move {
                -webkit-transform: translate(0px, 150px);
              transform: translate(0px, 150px);
            }

.bns3{

position:absolute;
top:20px;
left:1550px;
z-index: 2;


              -webkit-transform: translate(0, 0);
              -webkit-transition: -webkit-transform 2000ms;

              transform: translate(0, 0);
              transition: transform 200ms;

              will-change: transform;

}

.bns3.move {
                -webkit-transform: translate(0px, 150px);
              transform: translate(0px, 150px);
            }

.bns4{

position:absolute;
top:20px;
left:2300px;
z-index: 2;


              -webkit-transform: translate(0, 0);
              -webkit-transition: -webkit-transform 2000ms;

              transform: translate(0, 0);
              transition: transform 200ms;

              will-change: transform;

}

.bns4.move {
                -webkit-transform: translate(0px, 150px);
              transform: translate(0px, 150px);
            }       

.bns5{

position:absolute;
top:20px;
left:3050px;
z-index: 2;


              -webkit-transform: translate(0, 0);
              -webkit-transition: -webkit-transform 2000ms;

              transform: translate(0, 0);
              transition: transform 200ms;

              will-change: transform;

}

.bns5.move {
                -webkit-transform: translate(0px, 150px);
              transform: translate(0px, 150px);
            }       



