div{
    font-family: 'Arvo', serif;

	width:3200px;
	height:800px;
	background-color:#F2FAF0;
	z-index: -10;

}

h1{
  color:black;
  z-index: 5;
  font-family: 'Arvo', serif;
  font-size: 70px;
  text-align: center;
  position: fixed;
  top:650px;
  left:470px;


}

h2{

	color:black;
	z-index: 0;
	font-size: 20px;
	position: absolute;
	top:30px;
	left:60px;

}

h3{

	color:black;
	z-index: 0;
	font-size: 15px;
	position: absolute;
	top:30px;
	left:830px;

}






.only{

position:absolute;
top:20px;
left:50px;
z-index: 1;


              -webkit-transform: translate(0, 0);
              -webkit-transition: -webkit-transform 2000ms;

              transform: translate(0, 0);
              transition: transform 200ms;

              will-change: transform;

}

.only.move {
                -webkit-transform: translate(0px, 150px);
              transform: translate(0px, 150px);
            }

.only2{

position:absolute;
top:20px;
left:800px;
z-index: 1;


              -webkit-transform: translate(0, 0);
              -webkit-transition: -webkit-transform 2000ms;

              transform: translate(0, 0);
              transition: transform 200ms;

              will-change: transform;

}

.only2.move {
                -webkit-transform: translate(0px, 150px);
              transform: translate(0px, 150px);
            }

.only3{

position:absolute;
top:20px;
left:1550px;
z-index: 2;


              -webkit-transform: translate(0, 0);
              -webkit-transition: -webkit-transform 2000ms;

              transform: translate(0, 0);
              transition: transform 200ms;

              will-change: transform;

}

.only3.move {
                -webkit-transform: translate(0px, 150px);
              transform: translate(0px, 150px);
            }

.only4{

position:absolute;
top:20px;
left:2300px;
z-index: 2;


              -webkit-transform: translate(0, 0);
              -webkit-transition: -webkit-transform 2000ms;

              transform: translate(0, 0);
              transition: transform 200ms;

              will-change: transform;

}

.only4.move {
                -webkit-transform: translate(0px, 150px);
              transform: translate(0px, 150px);
}


