body{
	font-family: Helvetica;
	width:100%;
	height:auto;
}
a{cursor:pointer;}
ul,li{list-style:none;margin:0;padding:0;}
#wrap_link1{
	width:1035px;
	height:auto;
	margin-right: auto;
	margin-left: auto;
}
#sub_b1{
	width:1035px;
	height:90px;
	margin:0;
	position: relative; 
	clear:both;
}
#sub_b1 a{
	font-size: 14px;
	font-family: Helvetica;
	display:inline-block;
	position:relative;
	float:left;	
	text-decoration: none;
	color:black;
}
#navi{
	width:700px;
	height:63px;
	display:inline-block;
	position:relative;
	float:right;
	margin:0;
}
#navi div {
	float:right;
	margin-right:190px;
}

#navi div a{
	position: relative;
	font-family: Helvetica;
	font-size: 14px;
	display:inline-block;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	margin-left:25px;
	cursor: pointer;
	color:black;
	outline: none;
	color: black;
	text-decoration: none;
}
#navi div a:hover,
#navi div a:focus {
	outline: none;
}

/* bottom line slides/fades in */
#navi div a {
	padding: 0;
}
#navi div a::after {
	position: relative;
	display: inline-block;
	position: absolute;
	top: 180%;
	left: 0;
	width: 100%;
	height: 4px;
	background: black;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
#navi div a:hover::after,
#navi div a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
#sub_b2{
	margin: 0;
	width:1035px;
	height:80px;
	position:relative;
	float:left;
	margin-bottom: 42px;
}
#current_page{
	width:170px;
	height:44px;
	margin-right:20px;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	position:relative;
	float:left;
	text-align:right;
}
#current_page p{
	margin: 0;
}
#current_page p:first-child{
	color:crimson;
	display: block;
	padding-top: 10px;
}
#current_page p:nth-child(2){
	display: block;
}
#title{
	margin:0;
	width:845px;
	height:auto;
	position:relative;
	float:left;
	letter-spacing: 1px;
	vertical-align: middle;
}
#title p{
	font-size:58px;
	font-weight: bold;
	margin: 0;
}
#sub_b3{
	margin-bottom:50px;
	width:1035px;
	height:auto;
	position:relative;
	clear:both;
}
#prev_page{
	width:170px;
	height:403px;
	margin-right: 20px;
	position:relative;
	float:left;
}
#prev_page a{
	font-size: 30px;
	letter-spacing: 2px;
	vertical-align: middle;
	text-align: left;
	top:45%;
	position:relative;
	float:left;
	display:inline-block;
	text-decoration: none;
	color:black;
}
#gallery{
	width:465px;
	height:auto;
	margin-right:65px;
	display: inline-block;
	position:relative;
	float:left;
}
#gallery #big_image{
	width:465px;
 	height:345px;   
  	margin-bottom:70px;  
  	position:relative;
}
#gallery #big_image img{
  opacity:0;position:absolute;left:0px;top:0px; width:465px;
  margin:0;
  transition: opacity 350ms;
}
/*Selected image display*/
#gallery #big_image img:target{opacity:1;}
/*on select image display none the default image*/
#gallery #big_image img:target ~ img#default{opacity:0;}

/*Show Default Image in first load*/
#gallery #big_image img#default{opacity:1;}
/***thumbs***/
#gallery #thumbs{
  width:340px; height:50px; position:relative; float:left; 
}
#gallery #thumbs ul{
  float:right; transition:999999s all; transform:translateX(0);
}
#gallery #thumbs li{display:inline-block; margin-left:15px; border:1px solid #F0F0F0; position:relative; float:left;}
#gallery #thumbs li a:hover{opacity:1;}
#gallery #thumbs li a{opacity:0.85;}
#gallery #thumbs li a:focus{opacity:1;}
#gallery #thumbs li img{width:67px;}

#description{
	width:170px;
	height:403px;
	position:relative;
	float:left;
}
#description P:first-child{
	margin:0;
	letter-spacing: 2px;
	color:crimson;
	font-size: 14px;
	font-weight:bold;
}
#description P:nth-child(2){
	margin-top:5px;
	letter-spacing: 1px;
	color:black;
	font-size: 14px; 
}
#description P:nth-child(3){
	margin:0;
	letter-spacing: 2px;
	color:crimson;
	font-size: 14px;
	font-weight:bold; 
}
#description P:nth-child(4){
	margin-top:5px;
	letter-spacing: 1px;
	line-height: 130%;
	color:black;
	font-size: 11px;
	text-align: left; 
}
#next_page{
	width:60px;
	height:403px;
	margin:0;
	position:relative;
	float:right;
}
#next_page a{
	font-size: 30px;
	letter-spacing: 2px;
	vertical-align: middle;
	text-align: right;
	position:relative;
	top:45%;
	float:right;
	display:inline-block;
	text-decoration: none;
	color:black;
}
#sub_b4{
	width:1035px;
	height:50px;
	position: relative;
	clear:both;
	padding-top: 30px;
}
#sub_b4 p{
	font-size: 12px;
	color:black;
	text-align: center;
	display: block;
	margin-top: 30px;
}

