
body{

	background-color:#d3d7da;
}


p{
	font-family:Helvetica,Sans-serif;
	color:#242627;
	
	}

.bye{
	background-color:white;
	color:#242627;
	
	width:3000px;
	height:150px;

}


h1{
	color:#ffa200;
}

h4{
	font-family:Helvetica,Sans-serif;
}

ul{
	font-family:Helvetica,Sans-serif;
}