
#lol{
	color:blue;
	font-family:Arial;
	font-size:10em;
	border: 2px solid #0088dd;
	margin: 10px auto 10px auto;
}
p{
	color:red;
}
.boxmodel{
	background-color:pink;
	width:300px;
	height:700px;
	padding:300px;
	margin:10px auto 10px auto;

	border:4px dotted #0088dd;
}
header{
	position: absolute;
	top:0;
	left:30;
	z-index:1;
	height: 190px;
	overflow: hidden;
}