#bigbox {
	width:354px;
	height:800px;
	position: relative;
	margin:auto;
}

.container {
width:50px;
height:200px;
background-color:pink;
float:left;
margin: 2px;
	}

.container2 {
width:200px;
height:50px;
background-color:pink;
float:left;
margin:2px;
	}

.container3 {
width:98px;
height:146px;
background-color:pink;
position: relative;
float:left;
margin:2px;
	}

.container4 {
width:98px;
height:146px;
background-color:pink;
position: relative;
float:left;
margin:2px;
	}

.container5 {
width:50px;
height:200px;
background-color:pink;
position: relative;
float:left;
margin: 2px;
	}

}