p{
    font-family: "Verdana";
    font-size: 16px;
    color: #66CCFF;
}
body{
    width:100%;
    background-color: #FFFFCC;
}
.container{
    width:800px;
    height: 500px;
    margin-right: auto;
    margin-left: auto; 
}
.text{
    width:500px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: auto;
    z-index: 2; 
}
.a{
    width: 80px;
    height: 80px;
    position: fixed;
    top:20px;
    left:680px;
    background-color: #FFFF99;
    z-index: 3;
    -webkit-box-shadow: 30px 10px 50px 10px #FFF5C2;
    box-shadow: 30px 10px 50px 10px #FFF5C2;
}
.b{
    width: 120px;
    height:120px;
    position: fixed;
    top: 50px;
    left:370px;
    background-color: #FFFF99;
    z-index: 1;
}
.c{
    width: 60px;
    height: 60px;
    position: fixed;
    top:240px;
    left:210px;
    background-color: #FFFF99;
    z-index: 1;
}
.d{
    width: 50px;
    height: 50px;
    position: fixed;
    top:600px;
    left:795px;
    background-color: #FFFF99;
    z-index: 1;
}
.e{
    width: 140px;
    height: 140px;
    position: fixed;
    top:350px;
    left:650px;
    background-color: #FFFF99;
    z-index: 1;
}
.f{
    width: 50px;
    height: 50px;
    position: fixed;
    top:370px;
    left:350px;
    background-color: #FFFF99;
    z-index: 3;
}
