#box1{
	height:100px;
	width:100px;
	position:fixed;
	right:0;
}
#box2{
	height:300px;
	width:400px;
	background-color:yellow;
	opacity:0.7;
	top:100px;
	left:100px;
	position:relative;
}
#box3{
	height:250px;
	width:400px;
	position:relative;
	top:500px;
	left:100px;
}
#box4{
	height:200px;
	width:600px;
	position:relative;
	top:350px;
	right:200px;
}
#box5{
	height:200px;
	width:600px;
	position:fixed;
	top:450px;
	right:150px;
}
#box6{
	height:100px;
	width:100px;
	position:fixed;
	top:400;
	right:0;
}
.box1{
	height:100px;
	width:100px;
	background-color:pink;
	position:absolute;
}
.box2{
	height:200px;
	width:300px;
	background-color:blue;
	opacity:0.3;
	position:absolute;
}
.box3{
	height:250px;
	width:400px;
	background-color:lightpink;
	position:absolute;
}
.box4{
	height:200px;
	width:600px;
	position:absolute;
	background-color:lightgrey;
	opacity:0.5;
}
.box5{
	height:200px;
	width:600px;
	position:absolute;
	background-color:lightblue;
	opacity:0.6;
}
.box6{
	height:100px;
	width:100px;
	position:absolute;
	background-color:orange;
	opacity:0.8;
}
