
#container{
	width:700px;
	height:700px;
	margin:auto;
	position:relative;
	
}

.top{
	width:700px;
	height:70px;
	background-color: red;
	margin:10px;
	position:relative;
	top:0px;
	left:0px;
	
}

.box2{
	width:700px;
	height:10px;
	background-color: red;
	margin:10px;
	position:absolute;
	top:75px;
	left:0px;
	
}


.box3{
	width:225px;
	height:500px;
	background-color: red;
	margin:10px;
	position:absolute;
	top:100px;
	left:0px;
	
}


.box4{
	width:225px;
	height:500px;
	background-color: red;
	margin:10px;
	position:absolute;
	top:100px;
	left:235px;
	
}


.box5{
	width:230px;
	height:500px;
	background-color: red;
	margin:10px;
	position:absolute;
	top:100px;
	left:470px;
	
}

.box6{
	width:700px;
	height:70px;
	background-color: red;
	margin:10px;
	position:absolute;
	top:610px;
	left:0px;
	
}




