div{
	background-color:red;
	position:fixed;
	border-radius: 40%;

}


p{
	z-index:1;
	position:absolute;
	margin:auto;
} 

#all{
	background-color: white;
	width:600px;
	height:1200px;
	position:absolute;
	margin:auto;

}

#one {
	width:100px;
	height:100px;
	left:100px;
	top:100px;
	z-index:0;
}

#two {
	width:20px;
	height:20px;
	left:200px;
		z-index:2;
}

#three {
	width:30px;
	height:30px;
	left:300px;
		z-index:2;
}

#four {
	width:40px;
	height:40px;
	left:400px;
		z-index:2;
}

#five {
	width:50px;
	height:50px;
	left:500px;
		z-index:2;
}

#six {
	width:60px;
	height:60px;
	left:600px;
		z-index:2;
}