#contain{
	height:830px;
	width:1400px;
	background-color:red;
	margin: auto auto auto auto;
	border:100px solid white;
}

.rec1{
	height:765px;
	width:1340px;
	background-color:lightblue;
	margin:30px auto auto auto;

}

.v1{
	height:765px;
	width:440px;
	background-color:pink;
	float:left;
	border-right:5px solid white;
}
.v2{
	height:765px;
	width:440px;
	background-color:pink;
	float:left;
	border-left:5px solid white;
	border-right:5px solid white;
}
.v3{
	height:765px;
	width:440px;
	background-color:pink;
	float:left;
	border-left:5px solid white;
}


.vv1{
	height:765px;
	width:62px;
	background-color:white;
	border:1px solid white;
	float:left;
}

.vv2{
	height:765px;
	width:120px;
	background-color:white;
	border:1px solid white;
	float:left;
}

.vvv1{
	height:100px;
	width:54px;
	background-color:red;
	margin:auto auto auto auto;
	border-top:5px solid white;
	border-bottom:5px solid white;
	border-left:5px solid white;
}

.vvv2{
	height:208.75px;
	width:54px;
	background-color:red;
	margin:auto auto auto auto;
	border-top:5px solid white;
	border-bottom:5px solid white;
	border-left:5px solid white;
}
.vvv_float{
	height:100px;
	width:54px;
	background-color:red;
	margin:auto auto auto auto;
	border-top:5px solid white;
	border-bottom:5px solid white;
	border-left:5px solid white;
	float:left;
}