


.redbox1 {
	position: relative;
	width: 48px;
	height: 98px;
	background-color: red;
	float: left;
	border:1px solid #ffffff;
}

.redbox2 {
	position: relative;
	width: 98px;
	height: 48px;
	background-color: red;
	float: left;
	border:1px solid #ffffff;
}

.redbox3 {
	position: relative;
	width: 48px;
	height: 48px;
	background-color: red;
	float: left;
	border:1px solid #ffffff;
}

#bigcontainer {
	width: 150px;
	height: 100px;
	padding-top: 50px;
	padding-left: 50px;
	z-index: 2;
}

#bigcontainerbehind {
	width: 150px;
	height: 100px;
	padding-top: 50px;
	padding-left: 50px;
	z-index: 1;
}

#bigcontainer2 {
	float: left;
	width: 150px;
	height: 100px;
	padding-left: 50px;
}



#littlecontainer {
	width: 50px;
	height: 100px;
	float:left;
}


#littlecontainer2 {
	width: 50px;
	height: 100px;
	position: absolute;
	left: 208px;
	top: 158px;
}


