body{
	background-color: white;
}

.title{
	position: absolute;
	margin-top: 170px;
	margin-left: 30px;
	width: 390px;
	height: 100px;
	background-color: white;

}


.container{
	width: 6510px;
	height: 450px;
	background-color: white;
	margin-top: 200px;
	margin-left: 120px;
	z-index: 1;

}

.gradient1{
	position: fixed;
	width: 6px;
	height: 450px;
	background-color: white;
	z-index: 3;
}

.gradient2{
	position: fixed;
	margin-left: 20px;
	width: 12px;
	height: 450px;
	background-color: white;
	z-index: 3;
}

.gradient3{
	position: fixed;
	margin-left: 37px;
	width: 40px;
	height: 450px;
	background-color: white;
	z-index: 3;
}

.gradient4{
	position: fixed;
	margin-left: 85px;
	width: 17px;
	height: 450px;
	background-color: white;
	z-index: 3;
}

.gradient5{
	position: fixed;
	margin-left: 120px;
	width: 30px;
	height: 450px;
	background-color: white;
	z-index: 3;
}

.gradient6{
	position: fixed;
	width: 6px;
	height: 450px;
	margin-left: 1400px;
	background-color: white;
	z-index: 3;
}

.gradient7{
	position: fixed;
	margin-left: 1415px;
	width: 30px;
	height: 450px;
	background-color: white;
	z-index: 3;
}

.gradient8{
	position: fixed;
	margin-left: 1260px;
	width: 40px;
	height: 450px;
	background-color: white;
	z-index: 3;
}

.gradient9{
	position: fixed;
	margin-left: 1310px;
	width: 14px;
	height: 450px;
	background-color: white;
	z-index: 3;
}

.gradient10{
	position: fixed;
	margin-left: 1360px;
	width: 20px;
	height: 450px;
	background-color: white;
	z-index: 3;
}


.arrow{
	margin-left: 660px;
	margin-top: 15px;
	position: fixed;
    height: 0px; 
    width: 0px; 
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent; 
    border-bottom: 50px solid #FFFF30;
    z-index: 5
}


.arrow2{
	margin-left: 540px;
	margin-top: 420px;
	position: fixed;
    height: 0px; 
    width: 0px; 
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent; 
    border-bottom: 50px solid white;
    z-index: 4
}




.img1{
	position: absolute;
	width: 330px;
	height: 450px;
	margin-left: 420px;
	z-index: 2; 

}


.img2{
	position: absolute;
	margin-left: 800px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img3{
	position: absolute;
	margin-left: 1180px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img4{
	position: absolute;
	margin-left: 1560px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img5{
	position: absolute;
	margin-left: 1930px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img6{
	position: absolute;
	margin-left: 2300px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img7{
	position: absolute;
	margin-left: 2670px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img8{
	position: absolute;
	margin-left: 3040px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img9{
	position: absolute;
	margin-left: 3410px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img10{
	position: absolute;
	margin-left: 3780px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img11{
	position: absolute;
	margin-left: 4150px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img12{
	position: absolute;
	margin-left: 4520px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img13{
	position: absolute;
	margin-left: 4890px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img14{
	position: absolute;
	margin-left: 5260px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

.img15{
	position: absolute;
	margin-left: 5630px;
	width: 330px;
	height: 450px;
	background-color: red;
	z-index: 2;

}

