.int_confed{

position:absolute;
top:400px;
left:10px;


}


.pm{
position:absolute;
top:400px;



}

.aa{

left:400px;
position:absolute;


}

.aww{

top:400px;
position:absolute;


}

.aiga{

top:400px;
position:absolute;


}