*{
	margin:auto;
	font-family: 'Slabo 27px', serif;
}

p{
color:#B2B2B2;
}  

 blockquote{
 	display: block;
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
    font-size:20px;
 }
h3{
	color:#E9A3B9;
}
.pointer{
	z-index:1;
	width:300px;
	height:200px;
	position:fixed;
	top:100px;
	right:-50px;

}

#pointer_img{
	width:90px;
	height:90px;

	border-radius: 100%;
	background-image:url("file://img/pointer.jpg");
	float:left;
	


}
 #pointer_description{ 
 	width:150px;
	height:100px;
	float:left;
	font-family: 'Slabo 27px', serif;
	font-size:26px;
	text-align:right;
	padding:5px;
	color:#878687;
}

#ba{
	position:fixed;
	top:20px;
	left:20px;
}

.check01{
		width:450px;
		height:450px;
		background-color: white;
		float: left;
}

.check02{
		width:380px;
		height:380px;
		background-color: white;
		float: left;
		color:#B2B2B2;
		padding:35px;
	}

#container{
		width:920px;
		height:3200px;
		background-color: white;
		margin:auto;
}
