*{
	font-size:30px;
	
}

.circle{ 
	width:100px;
	height:100px;
	border-radius:100%;
	background-image:url(..//img/14.jpg);
	background-position: center;

}

.circle:hover{
	background:orange;
}

h1 {
	font-family: Impact;
}


.menu-bar ul ul {
	display:none
}
.menu-bar  li:hover > ul {

	display:block;

}
