body{

	background-color: white; 
    font-family: Courier New;
    background-image: url(../img/);

}

p{
    color: black;
    text-align: center;
    position:relative;
}

a:link{
        
    color: grey;
    text-decoration:none;
}

a:visited {
        
    color: black;
    text-decoration:none;
}

a:hover {

    color:orange;

}

a:active {

    color:red;
}


#header {

    width:100px;
    height:300px;
    top:100px;
    left:200px;
    position:fixed;
    z-index: 2;

}

#header p{

    font-family: 'Abril Fatface', cursive;
    font-size: 200%;
    text-align: left;
    position:relative;
    color:#f96161;
    top:10px;
}


#furnitureheader {

    width:50px;
    height:300px;
    top:100px;
    left:200px;
    position:fixed;
    z-index: 2;

}

#furnitureheader p{

    font-family: 'Abril Fatface', cursive;
    font-size: 200%;
    text-align: left;
    position:relative;
    color:#f96161;
    top:10px;
}


#eamesbike{

    width:100px;
    height:73px;
    top:40px;
    left:200px;
    position:fixed;
    z-index: 2;

}

#eamesbike:hover {

    visibility: hidden;

}

#eamesbike #eamesbike_flip{

    width:100px;
    height:73px;
    top:40px;
    left:200px;
    position:fixed;
    visibility: hidden;

}

#eamesbike:hover #eamesbike_flip {

    visibility: visible;

}


#mainbox {

    width:500px;
    height:521px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;
}

#mainbox .top {

    width:500px;
    height:521px;
    position: absolute;
    -webkit-transition: opacity .75s ease-in-out;
}

#mainbox .top:hover {

    opacity: 0;

}

#furniturebox {

    width:400px;
    height:256px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;
}

#furniturebox .top {

    width:400px;
    height:256px;
    position: absolute;
    -webkit-transition: opacity .75s ease-in-out;

}

#furniturebox .top:hover {

    opacity: 0;

}


#furniturebox .top:hover .class{

    opacity: 100;


}


#othersbox {

    width:200px;
    height:337px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;
}

#othersbox .top {

    width:200px;
    height:337px;
    position: absolute;
    -webkit-transition: opacity .75s ease-in-out;
    
}

#othersbox .top:hover {

    opacity: 0;

}


#othersbox .top:hover .class{

    opacity: 100;


}



.organicdesign {

    width:480px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.organicdesign .top {

    width:480px;
    height:640px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;

}

.organicdesign .top:hover {

    opacity: 0;

}


.lcw1946 {

    width:480px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.lcw1946 .top {

    width:480px;
    height:640px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;

}

.lcw1946 .top:hover {

    opacity: 0;

}

.lcm1946 {

    width:480px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.lcm1946 .top {

    width:480px;
    height:640px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;

}

.lcm1946 .top:hover {

    opacity: 0;

}

.rar1950 {

    width:480px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.rar1950 .top {

    width:480px;
    height:640px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;

}

.rar1950 .top:hover {

    opacity: 0;

}

.pkc1955 {

    width:480px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.pkc1955 .top {

    width:480px;
    height:640px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;

}

.pkc1955 .top:hover {

    opacity: 0;

}

.chaise1968 {

    width:480px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.chaise1968 .top {

    width:480px;
    height:640px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;

}

.chaise1968 .top:hover {

    opacity: 0;

}

.lounge1978{

    width:480px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.lounge1978 .top {

    width:480px;
    height:640px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;

}

.lounge1978 .top:hover {

    opacity: 0;

}

.ottoman1978{

    width:480px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.ottoman1978 .top {

    width:480px;
    height:640px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;

}

.ottoman1978 .top:hover {

    opacity: 0;

}


.lachaise1998{

    width:480px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.lachaise1998 .top {

    width:480px;
    height:640px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;

}

.lachaise1998 .top:hover {

    opacity: 0;

}

.eameshouse{

    width:640px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.mathematica{

    width:500px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.ibmatthefair{

    width:559px;
    height:500px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.powersoften{

    width:500px;
    height:700px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.elephant{

    width:480px;
    height:600px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}

.sculptureone{

    width:360px;
    height:640px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top:100px;

}



---------------------------

<!-- #circle {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

#circle p{

    top:40%;
    text-align: center;
}

-->

#bigbox1 {

    width:500px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #ffc6c3;
    top:200px;
}


#furniture {

    width:500px;
    height:500px;
    position:absolute;
    top:0px;
    left:0px;
    z-index: 1;

}

#bigbox1 .f_text{

    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:45%;
    visibility: hidden;

}

#bigbox1:hover .f_text{

    visibility: visible;
    z-index: 1;

}

p.f_text {

    font-size: 300%; 
    color:grey;
    z-index: 2;
}

#furniture:hover {

    opacity: 0.4;
    transform: rotate(-180deg);
    <!--transform-origin:0 100%;-->

}


#bigbox2 {

    width:500px;
    height:538px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    float:left;
    background-color: #ffc6c3;

}


#others {

    width:500px;
    height:538px;
    position:absolute;
    top:0px;
    left:0px;
    z-index: 1;

}

#bigbox2 .o_text{

    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:45%;
    visibility: hidden;

}

#bigbox2:hover .o_text{

    visibility: visible;
    z-index: 1;

}

p.o_text {

    font-size: 400%; 
    color:grey;
    z-index: 2;
}

#others:hover {

    opacity: 0.4;
    transform: rotate(-180deg);
    <!--transform-origin:0 100%;-->

}


#fiberglass {

    width:818px;
    height:544px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}