#header{
	height:130px;
	width:600px;
	background-color:red;
}

#space{
	height:90px;
	width:600px;
	background-color:white;
}

#container1{
	height:380px;
	width:600px;
	background-color:white;
	overflow:hidden;
}

.rec1{
	height:300px;
	width:480px;
	border-bottom:5px solid white;
	border-right:5px solid white;
	background-color:red;
	float:left;
}

.rec2{
	height:150px;
	width:110px;
	background-color:red;
	border-left:5px solid white;
	float:left;

}

.rec3{
	height:70px;
	width:480px;
	background-color:red;
	border-top: 5px solid white;
	float:left;

}