.check1{
	position:relative;
	width:100px;
	height:100px;
	background-color: red;
	float:left;
	

}


.check2{
	
	width:100px;
	height:100px;
	background-color: white;
	float:left;
	
}

.board{

	width:800px;
	height: 800px;
}





