body{
    background-color: pink; 

}
p{
    color:blue;
}
h3{
	color: white;
}
.container{
	width: 600px;
	height: 600px;
	background-color: white;
}
.red{
	position: relative;
	width:200px;
	height:200px;
	background-color: red;
	float:left;

}
.white{
	position: relative;
	width:200px;
	height:200px;
	background-color: white;
	float:left;

}
.head{
	width: 50px;
	height: 50px;
	background-color: yellow;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 190px;
	overflow: hidden;
}
.headd{
	width: 25px;
	height: 25px;
	background-color: blue;
	position: absolute;
	top: 20;
	left: 20;
	z-index: 2;
	height: 190px;
	overflow: hidden;
}
.boxmodel{
	width: 300px;
	height: 400px;
	padding-top: 100px;
	padding-left: 50px;
	padding-bottom: 30px;
	background-color: white;
	border: 20px solid #0088dd;
	margin: 10px auto 10px auto;
}
.inbm{
	font-size: 70px;
	color: grey;
	font-family: Helvetica;
	font-weight: bold; 
}