#bigbox {
	width:800px;
	height:800px;
	position: relative;
	margin:auto;

}

.container {
width:100px;
height:100px;
background-color:pink;
float:left;
	}

.container2 {
float:left;
width:100px;
height:100px;
background-color:white;
float:left;
	}

}